/*
 * TransactionList css File
*/

h3 {
  border-bottom: 1px solid var(--textColor);
  padding-bottom: 0.5rem;
  margin: 2rem 0 0.8rem;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}
